.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj

brownlow-forecasts/*

afl/data/*
nrl/data/*
election-forecasts/data/*
brownlow-forecasts/data/*
politics/data/*

afl/output/*.html
nrl/output/*.html
election-forecasts/output/*.html
brownlow-forecasts/output/*.html
politics/output/*.html

afl/manuscripts/*.log
nrl/manuscripts/*.log
election-forecasts/manuscripts/*.log
brownlow-forecasts/manuscripts/*.log
politics/manuscripts/*.log

afl/manuscripts/*.pdf
nrl/manuscripts/*.pdf
election-forecasts/manuscripts/*.pdf
brownlow-forecasts/manuscripts/*.pdf
politics/manuscripts/*.pdf

afl/manuscripts/*.gz
nrl/manuscripts/*.gz
election-forecasts/manuscripts/*.gz
brownlow-forecasts/manuscripts/*.gz
politics/manuscripts/*.gz
